.missao {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  height: 150px;
  margin: 40px 0;
  padding: 8px;
  text-align: left;
  width: 250px;
}

.missao p {
  margin: 5px 8px 0;
}

.missao hr {
  margin-bottom: 20px;
}

.missao p:nth-child( 1 ) {
  font-size: 18px;
  margin: 10px 0 8px 8px;
}

.container-missoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 85%;
}
