.planeta img {
  width: 165px;
}

.planeta p {
  color: white;
  font-size: 15px;
}

.container-planetas {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
